
/*NavbarComp.js */
#letter-space{
    letter-spacing: 1px;
}

/*Content.js*/
.kartu:hover{
    box-shadow: 5px 10px 30px 1px rgba(0,0,0,0.253) !important;
}

.card-img{
    transform: scale(1);
    transition: transform 0.6s ease;
}
.card-img:hover{
    transform: scale(1.3);
}
.scaling:hover{
    transform: scale(1.05);
}




